#about {
    position: relative;
    display: flex;
    justify-content: end;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.about {
    position: relative;
    width: 70vw;
    background: #FAFAFA;
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: 1000px) {
        width: 100%;
        padding-bottom: 50px;
    }

    &__img {
        &-container {
            position: absolute;
            top: 80px;
            left: 0;
            width: 40vw;
            height: 692px;

            @media (max-width: 1280px) {
                height: 722px;
            }

            @media (max-width: 1000px) {
                position: relative;
                top: unset;
                left: unset;
                height: unset;
                width: 100vw;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__title {
        font-weight: 200;
        font-size: 50px;
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;
        margin-left: 260px;

        @media (max-width: 1800px) {
            margin-left: 240px;
        }

        @media (max-width: 1680px) {
            margin-left: 200px;
        }

        @media (max-width: 1560px) {
            margin-left: 180px;
        }

        @media (max-width: 1340px) {
            margin-left: 160px;
        }

        @media (max-width: 1200px) {
            margin-left: 140px;
        }

        @media (max-width: 1000px) {
            margin-left: 0;
        }

        @media (max-width: 500px) {
            text-align: center;
        }

        &-container {
            //padding-left: 60px;
            padding-top: 9px;
            padding-bottom: 9px;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;

            @media (max-width: 1000px) {
                padding: 9px 20px;
            }
        }
    }

    &__info {
        padding-left: 260px;
        width: 850px;

        @media (max-width: 1800px) {
            padding-left: 240px;
        }

        @media (max-width: 1680px) {
            padding-left: 200px;
        }

        @media (max-width: 1560px) {
            padding-left: 180px;
        }

        @media (max-width: 1340px) {
            padding-left: 160px;
        }

        @media (max-width: 1280px) {
            width: 750px;
        }

        @media (max-width: 1200px) {
            padding-left: 140px;
        }

        @media (max-width: 1000px) {
            padding: 0 20px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        &-item {
            padding: 20px 0;
            border-bottom: 1px solid #000000;
            font-size: 28px;
            font-weight: 550;
            line-height: 140%;
            color: #000000;

            @media (max-width: 500px) {
                text-align: center;
            }
        }
    }

    &__text {
        font-weight: 300;
        font-size: 17px;
        line-height: 140%;
        color: #000000;

        @media (max-width: 500px) {
            text-align: center;
        }

        &-container {
            padding-top: 50px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            border-bottom: 1px solid #000000;
        }
    }
}
