#fotozone {
    margin-top: 120px;
}

.fotozone {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    &__header {
        display: grid;
        grid-template-columns: 920px auto;

        @media (max-width: 1530px) {
            grid-template-columns: 700px auto;
        }

        @media (max-width: 992px) {
            grid-template-columns: 300px auto;
        }

        @media (max-width: 1280px) {
            grid-template-columns: 410px auto;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

    }

    &__title {
        display: flex;
        align-items: center;
        grid-column: 1/2;
        font-weight: 200;
        font-size: 50px;
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;

        @media (max-width: 768px) {
            width: 100vw;
            padding: 15px 20px;
            border-bottom: 1px solid #000000;
        }

        @media (max-width: 480px) {
            justify-content: center;
        }
    }

    &__nav {
        grid-column: 2/4;
        border-left: 1px solid #000000;
        padding: 25px 20px;

        @media (max-width: 768px) {
            border-left: none;
        }

        &-list {
            display: flex;
            justify-content: end;
            column-gap: 115px;

            @media (max-width: 860px) {
                column-gap: 65px;
            }

            @media (max-width: 768px) {
                justify-content: space-between;
            }

            @media (max-width: 480px) {
                column-gap: 15px;
            }

            @media (max-width: 360px) {
                column-gap: 15px;
            }
        }

        &-link {
            background: none;
            font-weight: 550;
            font-size: 28px;
            line-height: 140%;
            color: #E3E3E3;
            transition: all .15s ease;

            @media (max-width: 360px) {
                font-size: 24px;
            }

            &.active {
                color: #000000;
            }

            &:hover {
                color: #000000;
            }
        }
    }

    &__content {
        margin-top: 55px;

        &-container {
            display: grid !important;
            grid-template-columns: 620px auto;
            gap: 30px;

            @media (max-width: 1530px) {
                grid-template-columns: 500px auto;
            }

            @media (max-width: 1280px) {
                grid-template-columns: 450px auto;
            }

            @media (max-width: 1170px) {
                grid-template-columns: 450px auto;
                gap: 20px;
            }

            @media (max-width: 1090px) {
                grid-template-columns: 420px auto;
            }

            @media (max-width: 1000px) {
                grid-template-columns: 55% auto;
                gap: 30px;
            }

            @media (max-width: 768px) {
                grid-template-columns: 55% auto;
                gap: 15px;
            }
        }

        &-preview {
            grid-column: 1/2;
            grid-row: 1/3;

            @media (max-width: 1000px) {
                grid-column: 1/2;
                grid-row: 2/3;
                margin-top: 10px;
            }

            @media (max-width: 768px) {
                grid-column: 1/3;
                grid-row: 2/3;
                margin-top: 25px;
            }

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }

        &-info {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1000px) {
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                flex-direction: column;
                align-items: unset;
                justify-content: space-around;
                gap: 50px;
            }

            @media (max-width: 768px) {
                grid-column: 1/3;
                grid-row: 1/2;
            }

            @media (max-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            @media (max-width: 556px) {
                flex-direction: column;
            }

            &-text {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 490px;

                @media (max-width: 1170px) {
                    width: 300px;
                }

                @media (max-width: 1000px) {
                    width: 100%;
                }

                @media (max-width: 768px) {
                    width: 60%;
                }

                @media (max-width: 556px) {
                    width: 100%;
                    text-align: center;
                }

                p {
                    font-weight: 300;
                    font-size: 17px;
                    line-height: 140%;
                    color: #000000;
                }
            }

            &-button {
                display: flex;
                align-items: center;
                width: 160px;
                height: 160px;
                background: #000000;
                border-radius: 50%;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-weight: 550;
                    font-size: 20px;
                    line-height: 140%;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }

        &-foto {
            grid-column: 2/3;
            grid-row: 2/3;
            display: flex;
            grid-template-columns: 490px auto;
            gap: 30px;
            margin-top: 30px;

            @media (max-width: 1170px) {
                gap: 20px;
            }

            @media (max-width: 1000px) {
                grid-column: 2/3;
                grid-row: 1/3;
                flex-direction: column;
                gap: 30px;
                margin-top: 0;
            }

            @media (max-width: 768px) {
                grid-column: 1/3;
                grid-row: 3/4;
                flex-direction: row;
                gap: 15px;
            }

            @media (max-width: 480px) {
                flex-direction: column;
            }

            &-container-1 {
                width: 490px;
                height: 575px;

                @media (max-width: 1530px) {
                    width: 100%;
                    height: unset;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @media (max-width: 1530px) {
                        width: unset;
                        object-fit: cover;
                    }

                    @media (max-width: 480px) {
                        height: unset;
                        width: 100%;
                    }
                }
            }

            &-container-2 {
                width: 360px;
                height: 575px;

                @media (max-width: 1530px) {
                    width: 100%;
                    height: unset;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;

                    @media (max-width: 480px) {
                        height: unset;
                    }
                }
            }
        }
    }
}
